body {
    background: #ebebeb;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.login {
    max-width: 40%;
    padding: 30px;
    margin: 30px auto;
    border-radius: 10px;
    background: #a5cdff;
    min-height: 50vh;
}

.login {
    color: white;
}