body {
    background: #ebebeb;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.login {
    max-width: 40%;
    padding: 30px;
    margin: 30px auto;
    border-radius: 10px;
    background: #a5cdff;
    min-height: 50vh;
}

.login {
    color: white;
}

.choice {
    cursor: pointer;
    margin: 10px;
    margin-left: 0;
    border-bottom: 4px solid transparent;
    transition: border 300ms ease-in-out;
    padding-bottom: 5px;
}

.current {
    border-bottom: 4px solid white;
}